## Python Output

## Print()

In [4]:
## Python is case sensitive langauge
print("Hello World")

Hello World

In [6]:
print(Hello world)   ##syntax error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3449611317.py, line 1)

In [8]:
print(4)

4

In [10]:
print(True)

True

In [12]:
## Multiple
print('Hello',1,True,6.7)

Hello 1 True 6.7

### We can see yaha space between each printable item. How?? Bcoz we have sep=' ' parameter in print statement

 # Keyword arguments

## Sep

In [19]:
print('aditya','sabhajeet','yadav',1112004,sep='-')

aditya-sabhajeet-yadav-1112004

## end

In [25]:
print('Hello')  ##It will print World in next line since end='\n'
print('World')

Hello
World

In [27]:
## Changing End='-'
print('hello',end='-')
print('World')

hello-World

## DataType

## Basic data types or Scalar types (Single Value)

In [34]:
## 1. Integer (int)
print(1)
## It can Support till this number 1*10^308  (Basically can handle bade numbers)
print(1e309)   ## Infinite (read as: "1 times 10 raised to 309")

1
inf

In [38]:
## 2. Float(float)   ( isko Decimal bol sakta hai par float hai)
print(8.55)
## It can too support till 2.3*10^308
print(1.2e308)

8.55
1.2e+308

In [42]:
## 3. Boolean(bool)
print(True)
print(False)

True
False

In [44]:
## 4. Text/String (Str) ( There is no char datatype just like we had char in Java Bcos  string can handle that)
print('Hello World')

Hello World

In [48]:
## 5. Complex(complex)
print(4+5j)   #not i

(4+5j)

## Collections or Data structures

In [50]:
## 6. List -> C -> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [52]:
## 7. Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [54]:
## 8. Set
print({1,2,3,4})

{1, 2, 3, 4}

In [56]:
## 9. Dictionary -Key-Value Pairs
print({'name':'aditya','surname':'yadav'})

{'name': 'aditya', 'surname': 'yadav'}

## Type()

In [79]:
type({1:1})

dict

# Variables

### It is containers which is used to store data for future use.

In [99]:
name ='aditya'  ## We dont want to specify dtype of variable in py. As py is smart enough to detect it.. whereas in C/Java/C++ it is needed
print(name)

aditya

## Dynamic Typing

In [104]:
## In Python you dont need to specify datatype of variable instead humara intrepreter automatically detects which datatype to be assigned 
no = 4  ## Int assign karega

## Static Typing  (Used in C,C++,Java)

In [107]:
## Here we need to specify datatype of variable
int no = 1  #C mein

SyntaxError: invalid syntax (2305162206.py, line 2)

## Dynamic Binding

In [110]:
a = 1
print(1)
a='aditya'
print(a)

1
aditya

## Static Binding

In [ ]:
int a = 4
## Now throughout the program ye sirf integer hi store karega and not anything else (1,2,3) but not (string,complex,etc)

## Variable Definition

In [116]:
## Aam Zindagi
a=1
b=2
c=3
print(a,b,c)

1 2 3

In [118]:
## Mentos Zindagi
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [120]:
## Mentoz Zindagi
a=b=c=5
print(a,b,c)

5 5 5

# Keywords

In [129]:
## Its reserved words used by Compiler/Interpreter to understand the code (from high level(English) code to machine code ko transform karne ke liye)
## 33 words

# Indentifiers

In [133]:
## Name given to variable,class,method 
# Rules
# 1. You cant start with digit
# 1name = 'aditya'
# print(1name) --error
# 2. You can use upper/lower case, digits,but in special case only '_'(underscore)
_ = 'sonu'
print(_)
## 3. Identifiers cannot be keywords

sonu

## User Input

In [1]:
# Static and Dyanmic software
input()

 aditya

'aditya'

In [3]:
input("Enter your name")

Enter your name aditya

'aditya'

# Tip for solving problem
- Make a strategy in mind
- comment all steps
- then fill each steps with code

In [28]:
## Take input from users
input1 = input("Enter the number")   ## Pehle input lega..kaunsa input i.e integer
input2 = input("Enter the number")
## Add
output = int(input1) + int(input2)  ## Temporary hai still theres no change in OG
## display
print(output)
print(type(input1))

Enter the number 2
Enter the number 3

5
<class 'str'>

Why does py takes input as string?? Bcoz STRING univeral datatype imagine 3,4+6j this can be store as string but wheras "Mumbai" text cant be stored as numeric

# Solution for above Problem: Type Coversion

In [18]:
## Implicit Vs Explicit
# Implicit - Internally done
print(3+4.5)

7.5

In [22]:
## Explicit
## Str to int
type(int('4'))

int

In [24]:
int(4+3j)  ## error

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

## Literals

Whatever value we store in variable is called literals  Ex: a=2 Where a is variable, = is operator, 2 is literal

In [9]:
## Binary Literals
a = 0b1010
print(a)

10

In [11]:
## Decimal Literals
a = 100
print(a)

100

In [13]:
## Octal Literals
a = 0o310
print(a)

200

In [15]:
## Hexadecimal Literals
a =0x12c
print(a)

300

In [21]:
## Float Literals
float = 1.4
float1 = 1.5e2 # 1.5 *10^2 = 1500   ## Scientific
float2 = 1.5e-3 # 1.5*10^-3 = 0.0015

In [23]:
print(float2)

0.0015

In [29]:
# Complex Literals
x = 3.4j
print(x.imag,x.real)

3.4 0.0

## String Representation

In [47]:
strings = ' This is a single inverted comma string'
string2 = " This is double inverted comma string"
string3 = """ This is multi-line string use for documentation"""
String4 ="C"
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n String"

In [49]:
print(unicode)

😀😆🤣

In [51]:
print(raw_str)

raw \n String

## Boolean

In [54]:
a = True + 4   ## Under the hood ye True ko 1 and False 0
b = False + 10

In [60]:
print("a:",a)
print("b:",b)

a: 5
b: 10

In [62]:
## None Literals
a = None
print(a)

None

In [64]:
## Note : In py we dont declare any variable in the beginning there is no way. If we want a variable i can declare that point
k 
a=5
c=6
print("Execute Program")

NameError: name 'k' is not defined

 In Above case we we can keep k as None

In [68]:
K = None # This means at this point i dont know iska value kya hoga but in future i will fill it.

In [5]:
k = None   ## None is for variable wheras Pass is for loops and function