Complex problem ko break karo and then solve karo

https://pythontutor.com/

## 1/1! + 2/2! + 3/3!...nth

In [15]:
## This is Solution
n= int(input("enter a number"))   # 5
result = 0    # 1  # 2 # 2.5  #2.6 #2.7
fact = 1      # 2   # 6 #24
for i in range(1,n+1,1):
    fact = fact * i   #1 = 1 * 1   # 2 = 1 * 2    #  6 =2 * 3   #  24 =6 * 4    #120 =24 * 5
    result = result + i/fact  # 1 = 0 + 1/1    #  2 = 1 + 2/ 2   #  2.5 =2 + 3/6  # 2.6 =2.5 + 4/ 24  # 2.7 = 2.6 + 5/120
    print(result)

enter a number 5

1.0
2.0
2.5
2.6666666666666665
2.708333333333333

In [20]:
#   This solution is not correct . This is just for practise
## Input from the user
n = int(input("Enter the number"))
fact =1   # 1   #2   # 24  #120
result = 0   # 1  #3   # 4.5  # 5.1 #5.3
for i in range(1,n+1):
    result = result +i/fact   # 1 = 0 + 1/1   # 3 = 1 + 2/1  # 4.5 = 3 + 3/2   # 5.1 = 4.5 + 4/6   # 5.3 = 5.1 + 5/24
    fact = fact *i            # 1 = 1 * 1     # 2 = 1 * 2    # 6 = 2*3   #24 = 6 *4   # 120 =24*5
    print(result)    ## Andar tab likhe agar output for each iteration chahiye else bahar

## logic 
## Output

Enter the number 5

1.0
3.0
4.5
5.166666666666667
5.375

In [12]:
n= int(input("enter a number"))   # 5
result = 0    # 1  # 2 # 2.5  #2.6 #2.7
fact = 1      # 2   # 6 #24
for i in range(1,n+1,1):
    fact = fact * i   #1 = 1 * 1   # 2 = 1 * 2    #  6 =2 * 3   #  24 =6 * 4    #120 =24 * 5
    result = result + i/fact  # 1 = 0 + 1/1    #  2 = 1 + 2/ 2   #  2.5 =2 + 3/6  # 2.6 =2.5 + 4/ 24  # 2.7 = 2.6 + 5/120
print(result)

enter a number 5

2.708333333333333

## 1 + 1/1! + 2/2! + 3/3!...nth

In [16]:
n= int(input("enter a number"))   # 5
result = 0    # 1  # 2 # 2.5  #2.6 #2.7
fact = 1      # 2   # 6 #24
for i in range(1,n+1,1):
    fact = fact * i   #1 = 1 * 1   # 2 = 1 * 2    #  6 =2 * 3   #  24 =6 * 4    #120 =24 * 5
    result = result + i/fact  # 1 = 0 + 1/1    #  2 = 1 + 2/ 2   #  2.5 =2 + 3/6  # 2.6 =2.5 + 4/ 24  # 2.7 = 2.6 + 5/120
print(result +1 )

enter a number 5

3.708333333333333

## 1/1! + 2/2! + 3**2/3!...

In [19]:
## This is solution
n = int(input("Enter a number: "))  
result = 0    
fact = 1      

for i in range(1, n + 1):  
    fact = fact * i  # Compute factorial  
    if n > 2:
        result = result + (i ** 2) / fact  # Squaring i if n > 2  
    else:
        result = result + i / fact  # Normal i if n <= 2  

    print(result)

Enter a number:  5

1.0
3.0
4.5
5.166666666666667
5.375

In [18]:
n= int(input("enter a number"))   # 5
result = 0    # 1  # 2 # 2.5  #2.6 #2.7
fact = 1      # 2   # 6 #24
for i in range(1,n+1,1):
     if n>2:
         fact = fact * i   #1 = 1 * 1   # 2 = 1 * 2    #  6 =2 * 3   #  24 =6 * 4    #120 =24 * 5
         result = result + i*i/fact  # 1 = 0 + 1/1    #  2 = 1 + 2/ 2   #  2.5 =2 + 3/6  # 2.6 =2.5 + 4/ 24  # 2.7 = 2.6 + 5/120
     else:
         fact = fact * i   #1 = 1 * 1   # 2 = 1 * 2    #  6 =2 * 3   #  24 =6 * 4    #120 =24 * 5
         result = result + i/fact  # 1 = 0 + 1/1    #  2 = 1 + 2/ 2   #  2.5 =2 + 3/6  # 2.6 =2.5 + 4/ 24  # 2.7 = 2.6 + 5/120
     print(result)

enter a number 5

1.0
3.0
4.5
5.166666666666667
5.375

### Nested Loops: 10th Class ka sub-divison (A,B,C,D,E) and Students in class (60 students)

In [14]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

## Pattern 1

 ### *                
 ### **
 ### ***

In [32]:
rows = int(input("Enter the number of rows"))

for i in range(1, rows+1):
    for  j in range(1,i+1):
      print("*",end='')
    print()

Enter the number of rows 5

*
**
***
****
*****

## Pattern 2

### 1
### 121
### 12321
### 1234321

In [52]:
rows = int(input("Enter the rows"))    ## no of rows 

for i in range(1,rows+1): 
    for j in range(1,i+1):     ## structure bata raha
        print(j,end=' ')
    for k in range(i-1,0,-1):
        print(k,end=' ')
    print()

Enter the rows 10

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1

In [55]:
rows = int(input("Enter the rows"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

Enter the rows 10

1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321
12345678987654321
12345678910987654321

## Break Statement

In [57]:
for i in range(1,10):
    if i==6:
        print("Breaking at ",i)
        break
    print(i)

1
2
3
4
5
Breaking at  6

In [70]:
## Q. Take input from the user in the form of lower and upper and find if no is prime 
lower = int(input("Enter lower limit"))
upper = int(input("Enter the upper limit"))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

Enter lower limit 10
Enter the upper limit 111

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109

## Continue Statement

In [72]:
for i in range(1,11):
    if i == 5:   #skipped 5
        continue
    print(i)

1
2
3
4
6
7
8
9
10

## Pass Statement
Pass be like main kuch nhi karunga

In [74]:
for i in range(1,10):
    pass

## Strings

### 1. Creating Strings

In [90]:
## Variations of defining a string
s = 'Hello'
s = "Hello"
# Multiline Strings ke liye
s ='''Hello'''
s = """Hello"""
s = str('Hello')
print(s)

Hello

In [86]:
'it's raining heavily today

SyntaxError: invalid syntax (3206619106.py, line 1)

In [87]:
print("It's raining heavily today")

It's raining heavily today

## 2. Accessing a element from str (Indexing)

In [92]:
## Positive Indexing
s = 'Hello World'

In [95]:
print(s[10])

d

In [96]:
## Negative Indexing
print(s[-11])

H

In [97]:
## Slicing
print(s[0:4])

Hell

In [98]:
## Stepsize
print(s[0:6:2])

Hlo

In [99]:
## Negative stepsize
print(s[6:0:-1])   ##  starting number should be greater than end

W olle

In [100]:
print(s[6:0:-2])

Wol

In [101]:
## Reverse a string
print(s[::-1])

dlroW olleH

In [102]:
## Negative  slicing
print(s[-1:6:-1])   #starting no should > than end

dlro

## 3. Editing and Deleting str

In [103]:
s = 'hello world'

In [104]:
s[0] ='H'   ## Strings are Immutable

TypeError: 'str' object does not support item assignment

In [105]:
del s

In [106]:
s

NameError: name 's' is not defined

In [107]:
s = 'hello world'

In [108]:
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

## 4. Operation on String

In [114]:
## ARITHMETIC OPERATOR
##  +
print("aditya" + "yadav")
print("aditya"+" "+"yadav")

adityayadav
aditya yadav

In [110]:
## - 
print("aditya" - "yadav")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [115]:
## *
print("aditya" *3)
print("*"*50)

adityaadityaaditya
**************************************************

In [113]:
## /
print("aditya" / "yadav")

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [116]:
## RELATIONAL OPERATOR

In [120]:
print('delhi' == 'mumbai')
print('mumbai' == 'delhi')
print('mumbai' == 'mumbai')
print("delhi" != "new delhi")

False
False
True
True

In [122]:
## > <
print('mumbai' > 'pune')   # lexiographically camparison

False

In [125]:
print("Pune" > "pune")

False

In [126]:
## Logical Oprerator

In [127]:
'Hello' and 'world'

'world'

In [132]:
'' and 'world'   # ' ' - false and 'world' is true

''

In [129]:
'hello' or 'world'

'hello'

In [131]:
'' or 'world'

'world'

In [133]:
not ''

True

In [134]:
not'hello'

False

In [135]:
## LOOPS

In [136]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [137]:
for i in 'delhi':
    print("Pune")

Pune
Pune
Pune
Pune
Pune

In [138]:
## Membership Operator

In [141]:
'D' in 'Delhi'

True

In [142]:
## COMMON FUNCTIONS

In [143]:
# 1. LEN()
len("Hello World")

11

In [145]:
# 2. Max
max("Hello world")

'w'

In [146]:
# 3. Min
min("Hello World")

' '

In [148]:
# 4. Sorted
sorted("Hello world")

[' ', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [149]:
sorted("Hello world",reverse= True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'H', ' ']

## String Only Functions

In [150]:
## Capitalise
s = 'hello world'

In [151]:
s.capitalize()

'Hello world'

In [152]:
## Title
s.title()

'Hello World'

In [153]:
## Upper
s.upper()

'HELLO WORLD'

In [154]:
## Lower
s.lower()

'hello world'

In [155]:
## SWAPCASE
'heLLO woRLD'.swapcase()

'HEllo WOrld'

## COUNT / Find / Index

In [165]:
## 1. Count
print('my name is aditya'.count('aditya'))
print('my name is aditya'.count('a'))

1
3

In [167]:
## 2. Find
print('my name is aditya'.find('a'))   ## first occurence ka address dega
print('my name is aditya'.find('x'))    ## not in the string

4
-1

In [169]:
## Index (works same as find but if substring that has to searched is not found it will raise error)
print('my name is aditya'.index('a'))   ## first occurence ka address dega
print('my name is aditya'.index('x'))    ## not in the string

4

ValueError: substring not found

In [170]:
## Startswith and Endswith

In [171]:
'my name is aditya'.endswith('ya')

True

In [172]:
'my name is aditya'.endswith('my')

False

In [176]:
## Format
name ='aditya'
surname = 'yadav'

print("Hi my name is {} and my surname is {}".format(name,surname))
print(f"Hi my name is {name} and my surname is {surname}")   # f-string (formatted string literal)
print("Hi my name is {0} and my surname is {1}".format(name,surname))
print("Hi my name is {1} and my surname is {0}".format(name,surname))

Hi my name is aditya and my surname is yadav
Hi my name is aditya and my surname is yadav
Hi my name is aditya and my surname is yadav
Hi my name is yadav and my surname is aditya

## isalnum / isalpha / isidigit/ isidentifier

In [178]:
## Isalnum
'aditya123'.isalnum()

True

In [180]:
## ISALPHA
'alpha'.isalpha()

True

In [181]:
## ISDIDGIT
'1234'.isdigit()

True

In [183]:
## ISIDENTIFIER
print('1name'.isidentifier())
print('name1'.isidentifier())

False
True

## SPLIT AND JOIN

In [186]:
str = 'my name is aditya yadav'

print(str.split("is"))
print(str.split(" "))
print(str.split("a"))

['my name ', ' aditya yadav']
['my', 'name', 'is', 'aditya', 'yadav']
['my n', 'me is ', 'dity', ' y', 'd', 'v']

In [190]:
str1 = 'my name is aditya yadav'
str2 = str1.split()
str3 = "-".join(str2)
str3

'my-name-is-aditya-yadav'

In [191]:
## REPLACE
'my name is aditya yadav'.replace('aditya','sonu')

'my name is sonu yadav'

In [194]:
## STRIP
str1 = 'aditya            '
str1.strip()

'aditya'

In [195]:
## Left strip
"          aditya".lstrip()

'aditya'

In [197]:
## Right strip
"aditya       ".rstrip()

'aditya'

## PROBLEMS

1. FIND THE LENTH OF THE STRING W/O USING LEN()

In [204]:
str1 = input("enter the string")
count = 0

for i in str1:
    count = count + 1
print(count)

enter the string fsgergewr

9

2. Extract username from a gmail if the email is adityayadav01@gmail.com then the username should be adityayadav01

In [211]:
gmail = input("Enter your gmail id")
username = gmail.split("@")[0]
print(username)

Enter your gmail id aditya.yadav.bse@gmail.com

aditya.yadav.bse

In [212]:
## other ways
gmail = input("Enter your gmail id")

pos = gmail.index("@")
username = gmail[0:pos]
print(username)

Enter your gmail id aditya.yadav.bse@gmail.com

aditya.yadav.bse

3. Count the frequency of a particular char in provided string
Eg. 'hello how are you' is the string, the frequency of h in this string is 2

In [216]:
str1 = input("Enter the text: ")
str2 = input("Enter the charcter you want to search ")

result = str1.count(str2)
print(result)

Enter the text:  hi i am aditya yadav
Enter the charcter you want to search  a

5

In [217]:
## Other way
str1 = input("Enter the text: ")
str2 = input("Enter the charcter you want to search ")

count = 0
for i in str1:
    if i == str2:
        count +=1
print(count)

Enter the text:  hi i am adity
Enter the charcter you want to search  a

2

4. Write a code to remove a particular char in a string

In [218]:
str1 = input("Enter the text: ")
str2 = input("Enter the charcter you want to remove ")

remove = str1.split(str2)
output = " ".join(remove)
print(output)

Enter the text:  hi i am aditya
Enter the charcter you want to remove  aditya

hi i am

In [221]:
## Other way
str1 = input("Enter the text: ")
str2 = input("Enter the charcter you want to remove ")
result = ''
for i in str1:
    if i!= str2:
        result = result +i
print(result)

Enter the text:  aditya yadav
Enter the charcter you want to remove  a

dity ydv

5. Write a program to check if given string is pallindrome or not?

In [225]:
str1 = input("Enter the text: ")
reverse = str1[::-1]
if str1 == reverse:
    print("It is pallindrome")
else:
    print("its not")

Enter the text:  level

It is pallindrome

In [229]:
## Other way    (malayalama,racecar,civic,level)
str1 = input("Enter the text: ")
flag = True
for i in range(len(str1)//2):     # len(str1) ---11//2 = 5
    if str1[i] != str1[len(str1) - i - 1]:
        flag = False
        print("It is not palindrome")
        break
if flag:
        print("Pallindrome")

Enter the text:  racecar

Pallindrome

In [236]:
str1 ="malayalam"
str1[len(str1) -0-1]

'm'

6. Count the no of words w/o split()

In [243]:
str1 = input("Enter the text: ")

temp = ""
for i in str1:
    if i != " ":
        count = count + 1
print(count)

Enter the text:  ovdv

0

In [253]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the string hi i am aditya

['hi', 'i', 'am', 'aditya']

7. Capitalise each word like title without using title funcion

In [252]:
str1 = input("Enter the text: ")   ## hello aditya

l = []
for i in str1.split():    # hello, aditya
       l.append(i[0].upper() + i[1:].lower())
print(' '.join(l))

Enter the text:  hello aditya

Hello Aditya

In [254]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number 345

345
<class 'str'>