## Tuple
- A tuple in python is similar to a list. The difference between the two is that we cannot change the element of tuple once it is assigned whereas we  can change element of list
- in short tuple is immutable list
- a tuple cannot be changed in a way once it is created

## Characteristics
- Ordered (Means the ordering matter 1,2,3 is not equal to 3,2,1)
- Unchangeable
- Allow duplicates

## Things to learn
- Creating a tuple
- accessing a item
- Editing
- Adding item
- Delete
- Operations on tuple
- Tuple function

## 1. Creating a Tuple

In [1]:
## Empty
t1 = ()
print(t1)
print(type(t1))

## Single element tuple
t2 = (4)
print(t2)
print(type(t2))
t2_1 = (4,)  
print(t2_1)
print(type(t2_1))

## Homogenous Tuple
t3 = (1,2,3,4,5)
print(t3)

## Heterogenous Tuple
t4 = (1,True,3.4,[1,2,3,4],4+3j)
print(t4)

## 2D tuple
t5 = (1,2,3,(4,5))
print(t5)

## Using Type Conversion
t6 = tuple("Hello")
print(t6)

()
<class 'tuple'>
4
<class 'int'>
(4,)
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, True, 3.4, [1, 2, 3, 4], (4+3j))
(1, 2, 3, (4, 5))
('H', 'e', 'l', 'l', 'o')

## 2. Accessing a item

In [15]:
## Same as list and string
t = (1,2,3,4,5,(6,7))
## Indexing 
print(t[-1])
print(t[0])
## Slicing
print(t[0:3])

(6, 7)
1
(1, 2, 3)

## 3. Editing a item

In [17]:
t = (1,2,3,4,5,(6,7))
t[0] = 100
## Just like strings tuple is also immutable

TypeError: 'tuple' object does not support item assignment

## 4. Adding item

In [18]:
## Not possible

## 5. Delete

In [21]:
t = (1,2,3,4,5,(6,7))
print(t)
del t
print(t)

(1, 2, 3, 4, 5, (6, 7))

NameError: name 't' is not defined

In [24]:
## Slice/index Deletion
t1 = (1,2,3,4,5)
del t1[-1]
print(t1)

TypeError: 'tuple' object doesn't support item deletion

Partial tuple items cant be deleted

## 6. Operations on tuple

In [2]:
## ARITHMETIC OPERATOR
t1 = (1,2,3,4,5)
t2 = (1,2,3,4,5)
## ConcaT/Merge
print(t1+t2)
## *
print(t1*3)

## MEMEBERSHIP
print(1 in t1)
print(10 not in t1)

## Looping
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
True
1
2
3
4
5

## 7. Tuple Operation

In [39]:
t1 = (1,2,3,4,5)

## LEN()
print(len(t1))

## SUM()
print(sum(t1))

## MIN()
print(min(t1))

## MAX()
print(max(t1))

## Sorted
print(sorted(t1,reverse=True))   ## list mein output

## Count
print(t1.count(3))

## Index
t1.index(4)

5
15
1
5
[5, 4, 3, 2, 1]
1

3

## Difference Between Tuple and Lists
- Syntax
- Mutability
- Speed  (Tuples are faster than list)
- Memory
- Built in functionality   (list has more functions)
- Error Prone  (list is more error prone)
- Usability  (tuple is good for readable object whereas list is good for making object that need to change from time to time)

In [10]:
## Time
import time

L = list(range(1000000))
T = tuple(range(1000000))

start_time = time.time()
for i in L:
    i*5
print("Time taken: ",round(time.time()-start_time,6))

start_time = time.time()
for i in T:
    i*5
print("Time taken: ",round(time.time()-start_time,6))

Time taken:  0.147648
Time taken:  0.14453

In [11]:
## Memory
import sys
lst = [1,2,3,4,5]
tup = (1,2,3,4,5)

print("list: ",sys.getsizeof(lst))
print("tuple: ",sys.getsizeof(tup))

list:  104
tuple:  80

In [14]:
## Error prone
## List
a = [1,2,3,4,5]
b = a

a.append(6)
print(a)
print(b)

## Tuple 
a = (1,2,3,4,5)
b = a

a = a + (6,)  #since we cant add element
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5)

## Special Syntax
- Tuple Unpacking

In [15]:
## Tuple Unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [16]:
a,b,c = (1,2,3,4)

ValueError: too many values to unpack (expected 3)

In [18]:
## Swap two numer --- 34--43
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [20]:
a,b,*c = (1,2,3,4,5,6,7)

print(a,b)
print(c)

1 2
[3, 4, 5, 6, 7]

In [24]:
## ZIP()

t1 = (1,2,3,4,5)
t2 = (1,2,3,4,5)

tuple(zip(t1,t2))

# (i*j for i,j in zip(t1,t2))

((1, 1), (2, 2), (3, 3), (4, 4), (5, 5))

## Tuple Comprehension

In [34]:
## Table of 5
print("This is generator",( i*5 for i in range(1,11)))

tup = tuple( i*5 for i in range(1,11))
print(tup)

This is generator <generator object <genexpr> at 0x0000023831970110>
(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)

# SET
- A set is unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed). However set itself is mutable. we can add or remove items from it.
- Set can also be used to perform mathemathical set operation like union, intersection, symmetric difference ,etc
# Characteristics
- Unordered
- Mutable
- No Duplicates
- Cant contain mutable datatypes

## Creating a set

In [4]:
## Empty 
s = {}
s1 = set()
print(s)
print(s1)
print(type(s))
print(type(s1))

## 1D and 2D
s3 = {1,2,3,4,5}   ## 1D
print(s3)
# s4 = {1,2,3,{4,5}}  # error: TypeError: unhashable type: 'set'
## 2D
s4 = {1,2,3,4,5,(1,2,3)}
print(s4)

# Homo and Hetro
s5 = {1,2,3,4}
print(s5)
s6 = {1, 2.3,True,3+4j}    ## True ==1
print(s6)

## Using Type Conversion 
s7 = set([1,2,3])
print(s7)

## Duplicates not allowed
s8 = {1,2,2,3,4,4,5,6,}
print(s8)

# sets cant have mutable items
## list
# s9 = {1,2,3,[1,2,3,4]}
# print(s9)


## Order doesnt matter
s10 = {1,2,3}
s11 = {3,2,1}

print(s10 == s11)

{}
set()
<class 'dict'>
<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, (1, 2, 3)}
{1, 2, 3, 4}
{1, 2.3, (3+4j)}
{1, 2, 3}
{1, 2, 3, 4, 5, 6}
True

## 1. Accessing items of set

In [15]:
s1 = {1,2,3,4,5,6,7,8}

## Here accessing is not possible since data are unordered
s1[0]
s[0:3]
s[-1]

TypeError: 'set' object is not subscriptable

## 2. Editing an item of sets

In [16]:
s1 = {1,2,3,4,5,6}

## Doesnt work
s1[0] = 100

TypeError: 'set' object does not support item assignment

In short, we cant access element or edit an item of set but we can add new element.

## Adding a new element in a set

In [7]:
s1 = {1,2,3,4,5,6}
## ADD   - This can only add one element
s1.add(10)
print(s1)

## Update - can add multiple element
s1.update([7,8,9])
print(s1)

{1, 2, 3, 4, 5, 6, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Deletion

In [33]:
s1 = {1,2,3,4,5}

## DEL 
# print(s1)
# del s1 
# print(s1)

## Discard - specified element ko delete karega and also if value is not in the set it will not throw error
# s1.discard(5)
# print(s1)
# s1.discard(50)
# print(s1)

## Remove - works same way like discard but if value is not in the set it will throw error
# s1.remove(5)
# print(s1)
# s1.remove(50)
# print(s1)    ## keyerror

## pop - remove random element
# s1.pop()   #takes no argument
# print(s1)

## clear: to clear element of set
s1.clear()
print(s1)

set()

## Set operations

In [48]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

## UNION (|)
print(s1.union(s2))
print( s1 | s2)

## Intersection
print(s1.intersection(s2))
print(s1 & s2)

## Difference (pehle set ke saare element jo dusre set mein exist nhi karte)
print(s1.difference(s2))
print(s1 - s2)
print(s2 - s1)

## Symmetric Difference
print(s1.symmetric_difference(s2))
print(s1 ^ s2)

## Membership test
print(1 in s1)
print(2 not in s1)

## Loops
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
True
False
1
2
3
4
5

## Set Functions

In [54]:
s1 = {1,2,3,4,5}

## len 
print(len(s1))

## sum
print(sum(s1))

## min
print(min(s1))

## max 
print(max(s1))

## sorted
print(sorted(s1))  ## output will be in list
print(sorted(s1,reverse=True))

5
15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [56]:
## Union / Update
s1 = {1,2,3,4,5}
s2 ={4,5,6,7,8}

# s1 | s2
print(s1.union(s2))

## update
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [58]:
## Intersection / Intersection Update
s1 = {1,2,3,4,5}
s2 ={4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)   ## permenant changes aa gaye
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [60]:
# Difference / Difference_update
s1 = {1,2,3,4,5}
s2 ={4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [62]:
## Symmetric Differnce / Symmertic Differnce update
s1 = {1,2,3,4,5}
s2 ={4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [69]:
## isdisjoint (set that do not have any common value)
s1 = {1,2,3,4,5}
s2 ={4,5,6,7,8}
s3={6,7}
print(s1.isdisjoint(s3))

##Issubset
s4 = {1,2,3,4,5,6}
s5 = {3,5,6}
print(s5.issubset(s4))

## Issuperset
print(s4.issuperset(s5))

## Copy() --shallow copy
s10 = {1,2,3,4,5,6,6,7}
s11 = s10.copy()

print(s10)
print(s11)

True
True
True
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

# Frozen set
- Frozen set is just an immutable version of a python set object

In [70]:
fs = frozenset([1,2,3,4,5])  ## set,tuple,list can be passed
fs

frozenset({1, 2, 3, 4, 5})

### What Works and what not??

In [75]:
## sets ke saare read function will work
f1 = frozenset((1,2,3,4))
f2 = frozenset((4,5,6,7))
print(f1.union(f2))
## sets ke saare write functions wont work

frozenset({1, 2, 3, 4, 5, 6, 7})

In [76]:
## 2D frozenset sets
f2 = frozenset({1,2,3,4,5,frozenset([1,2,3]),frozenset([1,2])})
f3 = frozenset({1,2,3,4,5,frozenset([1,2,3])})
print(f2)
print(f3)

frozenset({1, 2, 3, 4, 5, frozenset({1, 2}), frozenset({1, 2, 3})})
frozenset({1, 2, 3, 4, 5, frozenset({1, 2, 3})})

## Set Comprehension

In [86]:
set1 = { i*6 for i in range(1,11) if i < 5}
print(set1)

{24, 18, 12, 6}

# Dictionary
- Dictionary in python is collection of key values, used to store data values like a map, which unlike other datatypes which can store only a single values as element.
- In some langauages it is known as map or associative aarrays
- dict = {'name': 'aditya', 'age':20, 'gender':'male}

## Characteristics
- Mutable
- Indexing has no meaning
- key cant be duplicated
- key cant be mutable item (set,list)

## Creating a Dictionary

In [10]:
## Empty Dict
d1 = {}
print(d1)
print(type(d1))

## 1d dictionary   (name is key and aditya is value)
d2 = {'name':'aditya','surname':'yadav'}
print(d2)

## With mixed key
d3 = {(1,2,3,4):1,'name':'aditya',1:5.0}
print(d3)

## 2D Dictionary 
d4 = {
    'name':'aditya',
    'clg':'BSE inst',
    'sem':6,
    'subj':{
        'sql':88,
        'python':67,
        'ml': 94
    },
    'total_score':700
}
print(d4)

## Using seq and dict function
d5 = dict({('name','adi'),('score',89),(1,1)})   ## can be passed as set,list,tuple
print(d5)

## duplicate keys
d6 = {'name':'Raja','name':'rani'}
print(d6)

## Mutable item as key
# d7 = {[1,2,3,4]:"List",(1,2,3,4):'tuple'}
# print(d7)

d8 = {'name':{1,2,3}}   ## values can be of any collection
print(d8)

{}
<class 'dict'>
{'name': 'aditya', 'surname': 'yadav'}
{(1, 2, 3, 4): 1, 'name': 'aditya', 1: 5.0}
{'name': 'aditya', 'clg': 'BSE inst', 'sem': 6, 'subj': {'sql': 88, 'python': 67, 'ml': 94}, 'total_score': 700}
{'score': 89, 1: 1, 'name': 'adi'}
{'name': 'rani'}
{'name': {1, 2, 3}}

## Accessing an element

In [110]:
d1 = {'name': 'aditya','age':20}

## Slicing or Indexing does not work here instead we pass key in []
# d1[0]

## []
print(d1['name'])

## Get()
d1.get('age')

## 2D 
d4 = {
    'name':'aditya',
    'clg':'BSE inst',
    'sem':6,
    'subj':{
        'sql':88,
        'python':67,
        'ml': 94
    },
    'total_score':700
}
## access python score
print(d4['subj']['python'])

aditya
67

## Adding a key value pair

In [111]:
d1 = {'name':'aditya','surname':'yadav','age':20}
print(d1)
d1['weight'] = 65
d1['hobby'] = 'chess'
print(d1)


## 2D 
d4 = {
    'name':'aditya',
    'clg':'BSE inst',
    'sem':6,
    'subj':{
        'sql':88,
        'python':67,
        'ml': 94
    },
    'total_score':700
}
## add a new key-value pair in subject-fc
d4['subj']['fc']=65
print(d4)

{'name': 'aditya', 'surname': 'yadav', 'age': 20}
{'name': 'aditya', 'surname': 'yadav', 'age': 20, 'weight': 65, 'hobby': 'chess'}
{'name': 'aditya', 'clg': 'BSE inst', 'sem': 6, 'subj': {'sql': 88, 'python': 67, 'ml': 94, 'fc': 65}, 'total_score': 700}

## Removing Key-Value pairs

In [12]:
d1 = {'name':'aditya','surname':'yadav', 'age': 20,'weight': 65,'hobby': 'chess'}
## pop 
# d1.pop('name')
# print(d1)

# popitem()  ##takes no argument
# d1.popitem()
# print(d1)

# del (partial deletion can work)
# del d1
# print(d1)
# del d1['name']
# print(d1)

## Clear
d1.clear()
print(d1)


## 2D 
d4 = {
    'name':'aditya',
    'clg':'BSE inst',
    'sem':6,
    'subj':{
        'sql':88,
        'python':67,
        'ml': 94
    },
    'total_score':700
}
## del ml
del d4['subj']['ml']
print(d4)

{'surname': 'yadav', 'age': 20, 'weight': 65, 'hobby': 'chess'}
{}
{'name': 'aditya', 'clg': 'BSE inst', 'sem': 6, 'subj': {'sql': 88, 'python': 67}, 'total_score': 700}

## Editing values in dict

In [123]:
d4 = {
    'name':'aditya',
    'clg':'BSE inst',
    'sem':6,
    'subj':{
        'sql':88,
        'python':67,
        'ml': 94
    },
    'total_score':700
}
## sem -7
d4['sem']=7
print(d4)

## python score from 67 to 99
d4['subj']['python']=99
print(d4)

{'name': 'aditya', 'clg': 'BSE inst', 'sem': 7, 'subj': {'sql': 88, 'python': 67, 'ml': 94}, 'total_score': 700}
{'name': 'aditya', 'clg': 'BSE inst', 'sem': 7, 'subj': {'sql': 88, 'python': 99, 'ml': 94}, 'total_score': 700}

## Dictionary Operations

In [13]:
## Membership    (its all about keys)
d1 = {'name':'aditya','surname':'yadav'}
print('name' in d1)
print('aditya' in d1)

## Loops
for i in d1:
    print(i)  ## keys

print("*"*50)

## if values
for i in d1:
    print(i,d1[i])

True
False
name
surname
**************************************************
name aditya
surname yadav

## dictionary Functions

In [136]:
d4 = {
    'name':'aditya',
    'clg':'BSE inst',
    'sem':6,
    'subj':{
        'sql':88,
        'python':67,
        'ml': 94
    },
    'total_score':700
}

## len
print(len(d4))

## min 
print(min(d4))   # based on ascii

## max
print(max(d4))

##sorted
print(sorted(d4))
print(sorted(d4,reverse=True))

5
clg
total_score
['clg', 'name', 'sem', 'subj', 'total_score']
['total_score', 'subj', 'sem', 'name', 'clg']

In [140]:
## Items
print(d4.items())   ## list of tuple with key and values

## keys
print(d4.keys())

## values
print(d4.values())

dict_items([('name', 'aditya'), ('clg', 'BSE inst'), ('sem', 6), ('subj', {'sql': 88, 'python': 67, 'ml': 94}), ('total_score', 700)])
dict_keys(['name', 'clg', 'sem', 'subj', 'total_score'])
dict_values(['aditya', 'BSE inst', 6, {'sql': 88, 'python': 67, 'ml': 94}, 700])

In [143]:
## update
d1 = {1:1,2:3,4:5,6:7}
d2 = {4:9,6:0}
d1.update(d2)
print(d1)

{1: 1, 2: 3, 4: 9, 6: 0}

## Dictionary Comprehension
- syntax- {key:value for var in iteration}

In [148]:
## print 1st 10 numbers ad their squares
{i:i**2 for i in range(1,11) }

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [152]:
distances = {'delhi':400,'mumbai':500,'chennai':800}
distances.items()

dict_items([('delhi', 400), ('mumbai', 500), ('chennai', 800)])

In [151]:
## using existing dict
distances = {'delhi':400,'mumbai':500,'chennai':800}
{i:j*0.64 for i,j in distances.items()}

{'delhi': 256.0, 'mumbai': 320.0, 'chennai': 512.0}

In [154]:
## using zip 
days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
temp_C = [23.7,44.5,33.3,23.6,47.8,51.2,18.7]
dict1 = {i:j for i,j in zip(days,temp_C)}
print(dict1)

{'sunday': 23.7, 'monday': 44.5, 'tuesday': 33.3, 'wednesday': 23.6, 'thursday': 47.8, 'friday': 51.2, 'saturday': 18.7}

In [158]:
## using if condition
products = {'phone':10,'laptop':0,'charager':12,'tablet':0}
dict1 = {key:value for key,value in products.items() if value >0}
print(dict1)

{'phone': 10, 'charager': 12}

In [163]:
## Nested Comprehension
## print table of 2 to 4
for i in range(2,5):
    for j in range(1,11):
        print(i*j)
    print("*"*50)

{j:{i:i*j for i in range(1,11)} for j in range(2,5)}

2
4
6
8
10
12
14
16
18
20
**************************************************
3
6
9
12
15
18
21
24
27
30
**************************************************
4
8
12
16
20
24
28
32
36
40
**************************************************

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}